/*===============================================
	File:      config.example
	
	Author:    Micheil Smith
	Description:
		Example config file
===============================================*/

var config = exports;

config.port = 25;
config.host = "smtp.server.com";
config.from = "test@server.com";
config.to = "test@server2.com";